

.media {
    padding: 5px;
    background-color: #0a0909;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.m1 a{
    color: yellow;
}
.m2 a{
    margin: 3px;
    color: #fff;
}
.fullbackground{
   width: 100%;
    height: 550px;
    background-image: url("./images/edu\ meeting.jpg");
    background-size: cover;
    /* opacity: ; */
}
.nav{
    padding-top: 8px;
    background-color: rgb(207, 207, 207);
    opacity: 0.6;
    height: 50px;
    display: flex;
}
.nav1{
    width: 100%;
    font-family: cursive;


}
.nav1 h2 {
    margin-left: 50px;
}
.nav2{
    width: 100%;
}
.nav2 ul{
    display:flex ;
    list-style: none ;
    justify-content: space-evenly;  
}
.nav2 li{   
    margin: 10px;
}
.nav2 a{
    /* border: 1px solid green; */
    padding: 5px;
    color: black;
}
.nav2 a:hover{
    /* border: 1px solid green; */
    padding: 5px;
    /* color: rgb(17, 0, 253);
     */
    /* background-color: rgb(204, 252, 156); */
    /* border-radius: 10px; */
    color: #fff;
    text-decoration: underline;
}
.navcontent{
    opacity: 0.8;  /*this point now opacity   */
    color: #fff;
    text-align: left;
    margin-left: 100px;
    margin-top: 100px;
}
.navcontent h1,h6,p ,button{
    margin:5px;
}
.navcontent p{
    text-align: justify;
    line-height: 24px;
}
.navcontent button{
    margin-top: 15px;
    padding: 10px;
    color: #fff;
    background-color: rgb(236, 52, 52);
    width: 300px;
    border: none;
    border-radius: 15px;
}
.navbox{
    
    margin-top: 80px;
    width: 100%;
    display: flex;
    /* opacity: 0.9; */
    height: 500px;
    justify-content: space-evenly;
}
.navbox a{
    text-align: center;
    font-size: 30px;
    background-color: #fff;
    color: black;
    height: 30px;
    padding: 15px;
    border-radius:  900px;
    margin-top: 35px;
    /* margin-right: 200px; */
    /* width: 100%; */
}
.navbox .box1{
    text-align: center;
    padding: 10px;
    margin: 5px;
    height: 200px;
    background-color: rgb(236, 52, 52);
    color: #fff;
    border-radius: 10px;
}
.fa-laptop-file{
    font-size: 45px;
    margin-top: 10px;
    color: yellow;
}
.box1 h5,h6{
    margin-top: 20px;
}
.fa-school{
    color: yellow;
    font-size: 45px;
    margin-top: 10px;
}
.fa-book-open-reader{
    font-size: 45px;
    color: yellow;
    margin-top: 10px;
}
.startcender1 {
    background-color: rgb(41, 38, 38);
    height: 100%;
    width: 100%;
}
.startcender1 p{
    margin: 0 auto;
    padding-top: 200px;
    padding-left:550px ;
    color: #fff;    
    
}
.start0{
    display: flex;
    padding-left: 60px;
}
.start1 {
    width: 25%;
    height: 280px;
    padding: 9px;
    margin-top: 98px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 20px;
}
.star1 h4{
    margin-left: 20px;
}
.start1 ul{
    margin-top: 20px;
    margin-left: 10px;
   list-style: none;
}
.start1 ul li{
   margin-top: 20px;
}
.start1 button{
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    background-color: rgb(236, 52, 52);
    width: 300px;
    border: none;
    border-radius: 15px;
}
.start2{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 10px;
    margin-top: 90px;
    margin-left: 15px;
    padding-bottom: 100px;
}
.start2img{
    /* height: 450px; */
    height: 350px;
    width: 350px;
    background-color: #fff;
    margin: 10px;
    border-radius: 15px;
    position: relative;
}
.start2img img{
    border-top-right-radius:15px ;
    border-top-left-radius:15px ;
    background-color: #fff;
    height: 250px;
    width: 350px;
}
.childstart2{
    display: flex;
}
.childstart2 .child1 {
    width: 10%;
    background-color: #fff;
    height: 20px;
    padding: 4px;
}
.childstart2 .child2 {
    width: 90%;
    background-color: #fff;
    height: 20px;
    padding: 4px;
}
.childstart2 .child2 p{
    text-align: left;
    color: blue;
}
.start2img .position{
    position: absolute;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 10px;
    bottom: 310px;
    margin-left: 7px;
    background-color: #fff;
}
.middlecontainer{
    display: flex;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/21.jpg');
    /* background-position: ; */
}
.middle1{
    width: 50%;
    padding: 100px;
    opacity: 0.6;
}
.middle1 .middlechild1{
    padding: 10px;
    /* background-color: #fff; */
    background-color: #b4a4a4;

}
.middlechild1 h3{
    margin-top: 10px;
}
.middlechild1 p{
    margin-top: 10px;

}
.middlechild1 button{
     margin-top: 10px;
    padding: 10px;
    color: #fff;
    background-color: rgb(236, 52, 52);
    width: 200px;
    border: none;
    border-radius: 10px;
}

.middle1 .middlechild2{
    padding: 10px;
    margin-top: 20px;
    /* opacity: 0.5; */
    background-color: #b4a4a4;
}
.middlechild2 h3{
    margin-top: 10px;
}
.middlechild2 p{
    margin-top: 10px;

}
.middlechild2 button{
     margin-top: 10px;
    padding: 10px;
    color: #fff;
    background-color: hwb(60 8% 0%);
    width: 200px;
    border: none;
    border-radius: 10px;
}
.middle2{
    width: 50%;
    padding: 100px;
}
.middle2 .middlec2{
    /* width: 300px; */
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
    margin-right: 30px;
}
.middlec2 h3{
    color: rgb(233, 233, 75);
}
.fa-chevron-down{
    color: rgb(229, 241, 13);
    margin-left: 40px;
    font-size: 20px;
}
.middlec2 p{
    padding: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    text-align:left;
}
.fa-chevron-right{ 
    margin-left: 130px;
}
.middlec2 .head .fa-chevron-right{
    margin-left: 180px;
}
.middlec2 .head1 .fa-chevron-right{
    margin-left: 140px;

}

.flexcontainer{
    height: 550px;
    background-color: rgb(37, 37, 61);
}
.flexima{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px;
    /* margin: 10px; */
}
.flextext{
    /* margin-top: 15px; */
    padding-top: 100px;
    margin-left: 100px;
    color: #fff;
    font-size: 20px;
}
 .divimgs{
    width: 300px;
    height: 350px;
    background-color: #fff;
}
.flexcontainer img{
    width: 300px;
    width: 300px;
}
.flexcontainer p{
    text-align: center;
}
.flexp{
    display: flex;
}
.flexicon  {
    /* margin-top: 5px; */
    display: flex;
    justify-content: space-between;
    padding: 9px;
}
.icon1 {
    margin-top: 30px;
    font-size: 20px;
    color: yellow;
}
.icon2 {
    margin-top: 30px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}
.img p{
    margin-top: 20px;

}
.less,.great{
    width: 50px;
    /* justify-content: center; */
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 999px;
    background-color: #fff;
    font-size: 30px;
}
.almostend{
    height: 550px;
    background-image: url("./images/footer.jpg");
    display: flex;
    padding-bottom: 10px;
}
.almost1{
    width: 50%;
    padding: 70px;
    opacity: 0.7;
}
.almost1 h1{
    margin-top: 30px;
    color: #fff;
}
.div{
    display: flex;
    margin-top: 50px;

}
.div h1{
    color: yellow;
}
.div p{
    color: #fff;
}
.almost1 .div1{
    padding: 20px;
    background-color: #a39595;
    margin: 10px;
    width: 150px;
    /* margin-left: 150px; */
    border-radius: 15px;
    /* margin-top: 100px; */
}
.almost1 .div2{
    padding: 20px;
    background-color: #a79b9b;
    margin: 10px;
    width: 150px;
    /* margin-left: 150px; */
    border-radius: 15px;
    /* margin-top: 100px; */
    position: relative;
    left: 5px;
    top: 20px;
}
.almost1 .div3{
    padding: 20px;
    background-color: #a39595;
    margin: 10px;
    width: 150px;
    /* margin-left: 150px; */
    border-radius: 15px;
    /* margin-top: 100px; */
     position: relative;
    right: 335px; 
    top: 170px;
}
.almost1 .div4{
    padding: 20px;
    background-color: #a39292;
    margin: 10px;
    width: 150px;
    /* margin-left: 150px; */
    border-radius: 15px;
    /* margin-top: 100px; */
    position: relative;
    right: 331px;
    top: 190px;
}

.almost2{
    width: 50%;
}
.almost2 .video{
    margin-top: 150px;
    margin-right: 500px;
    height: 350px;
    /* background-color: red; */
    width: 450px;
    padding-right: 300px;

}
.almost2 .video video{
    width: 450px;
    height: 350px;
    /* background-color: yellow; */
    border-radius: 30px;
    color: yellowgreen;
}
.footercontainer{
    height: 600px;
    padding-top: 100px;
    background-color: black;
    display: flex;
}

.footercontainer .footer1{
    /* padding-top: 60px; */
    width: 70%;
    height: 390px;
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    margin-left: 70px;
    border-radius: 10px;
}
.footer1 input{
    margin-top: 80px;
    padding: 5px;
    margin: 5px;
    width: 240px;
    border: 1px solid rgb(96, 93, 93);
    border-radius: 5px;
    color: #0a0909;
    background-color: #ded7d7;
}
.footer1 textarea{
    padding: 5px;
    margin: 5px;
    height: 240px;
    width: 775px;
    border: 1px solid rgb(96, 93, 93);
    border-radius: 5px;
    color: #0a0909;
    background-color: #ded7d7;

}
.footer1 button{
    width: 250px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(236, 52, 52);
    color: #fff;
}
.footercontainer .footer2{
    width: 30%;
    color: #fff;
    padding: 20px;
    background-color: rgb(236, 52, 52);
    height: 430px;
    margin: 10px;
    border-radius: 10px;
    margin-right: 20px;   
}
.footer2 h3,p{
    margin-top: 10px;
}
.endcard{
    text-align: center;
    color: #fff;
    background-color: dimgray;
}


@media only screen and (min-width:767px) and (max-width:998px) {
    .footercontainer{
        justify-content: space-evenly;
    }
    .footer1{
        margin-left: 22px !important;
        margin-right: 7px;
        height: 200px;
    }
    .footer1 textarea{
        height: 200px;
        width: auto;
    }
    .footer2{
        height: 436px;
    }
}